.freewall-container .item-card{
	width: 20%;
	height: 208px;
	background-image: url(https://static.pexels.com/photos/19972/pexels-photo-medium.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.freewall-container .item-card.open{
	width: 40%;
	height: 410px;
}

.item-card .item-card-content{
	color: #fff;
	padding: 20px;
	text-align: center;
}
.item-card .item-card-content h1,
.item-card .item-card-content h2,
.item-card .item-card-content h3{
	color: #fcc302;
	margin: 0;
}
.item-card .icon-box{
	font-size: 30px;
}
.item-card .pos-b{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.item-card .item-card-open{
	display: none;
	text-align: left;
}
.item-card .item-card-open.open{
	display: block;
}